<div id="app"></div>
<script type="text/javascript" src="/local/reactchat/static/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/local/reactchat/static/lib/react.js"></script>
<script type="text/javascript" src="/local/reactchat/static/lib/JSXTransformer.js"></script>
<script type="text/jsx" src="/local/reactchat/static/components/chat.js"></script>
<script type="text/jsx" src="/local/reactchat/static/components/message.js"></script>
<script type="text/jsx" src="/local/reactchat/static/components/messagelist.js"></script>
<script type="text/jsx" src="/local/reactchat/static/components/messageform.js"></script>
<script type="text/jsx" src="/local/reactchat/static/app.js"></script>
